body {
	margin: 0;
	padding: 0 0 20px;
	background-color: #EEE;
}

h1, h2, h3 {
	font-weight: normal;
	text-shadow: 0 1px #FFF;
}

a, a:hover {
	color: #08C;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0 0 10px;
}

.clearfix {
	clear: both;
}


/*** NAVIGATION BAR ***/

.navbar, .navbar .container {
	height: 35px;
	border-bottom: solid 1px #000;
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top,  #000000 0%,#333333 100%);
	background: -o-linear-gradient(top,	 #000000 0%,#333333 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#333333 100%);
	background: linear-gradient(to bottom,	#000000 0%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 );
}

.navbar .left {
	height: 35px;
	position: relative;
}

.navbar .right {
	height: 35px;
}

.navbar .logo {
	width: 32px;
	height: 32px;
	margin-top: 1px;
}

.navbar .title {
	top: 0;
	color: #CCC;
	font-size: 16px;
	margin: 7px 0 0 40px;
	position: absolute;
}

.navbar .form-search {
	float: right;
	margin: 10px 20px 0 0;
}

.navbar .form-search .btn {
	margin-top: 0;
}

.facebook {
	float: left;
	margin: 2px 0 0 20px;
}

.facebook iframe {
	margin-top: 5px;
}

.facebook #fbUser {
	display: inline-block;
}

.facebook #fbUser img {
	width: 22px;
	height: 22px;
	margin-top: 1px;
}


/*** MAIN ***/

.splash {
	text-align: center;
	padding: 50px 0 20px;
	background-color: #DDD;
	border-bottom: solid 1px #FFF;
}

.content {
	padding: 30px 0 0;
	position: relative;
}

.content .action {
	top: 15px;
	right: 0;
	position: absolute;
}

.content .bookmarklet {
	font-size: 13px;
	margin: 2px 0 0 28px;
}

.tiles {
	margin: 10px 0 30px;
	padding-top: 5px;
}

.tiles .box {
	height: 200px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #FFF;
	border: solid 1px #CCC;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.tiles .box:hover {
	border: solid 1px #999;
}

.tiles .caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	background-color: #DDE0DD;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.tiles .caption p {
	color: #222;
	margin: 3px;
	padding: 6px;
	font-size: 14px;
	text-shadow: 0 1px #FFF;
}


/*** SUCK ***/

.suck {
	padding-top: 65px;
}

.suck h1,
.suck .modal h3 {
	margin-top: 0;
}

.suck h3 {
	margin: 50px 0 0;
}

.suck .action {
	top: 50px;
}

.suck .what-sucks {
	margin: 80px 0 0;
	text-align: center;
	background-color: #DDD;
}

.suck .whats-better {
	margin-top: 80px;
	background-color: #DDD;
}

.suck .what-sucks .wrapper,
.suck .whats-better .wrapper {
	margin: 20px;
}

.suck .what-sucks h1 {
	text-align: left;
}

.suck .whats-better .btn {
	margin-bottom: 10px;
}

.suck .img-large {
	background-color: #FFF;
	padding: 10px;
}

.suck .caption {
	color: #CCC;
	padding: 20px 0;
	font-size: 16px;
	background-color: #333;
}

.suck .url {
	padding: 8px 0;
	font-size: 13px;
	line-height: 15px;
	background-color: #333;
}

.suck .alternative li {
	color: #434343;
	font-size: 17px;
	margin-left: 5px;
	padding-bottom: 5px;
}

.suck .similar-sucks li {
	height: 100px;
	margin-bottom: 10px;
	overflow: hidden;
}

.suck .similar-sucks img {
	width: 100%;
	padding: 0;
	background-color: #333;
}


/*** BOOKMARKLET ***/

.install h4 {
	margin-top: 30px !important;
}

.install .desc {
	color: #878787;
	margin: 5px 0 30px;
	font-style: italic;
}

.install .btn {
	margin-bottom: 30px;
}

.install textarea {
	width: 98%;
}


/*** BOOTSTRAP OVERRIDES ***/

.btn, .btn-large, input[type="text"], textarea, .modal-footer {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.modal-header {
	background-color: #DDD;
}

.modal-body input, .modal-body textarea {
	width: 90% ;
}

.control-label {
	font-size: 16px;
	color: #333;
}
